<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History | Nano Lottery</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">-->
    <link rel="stylesheet" href="/static/styles/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item is-size-4 has-text-weight-bold">
                Nano Lottery
            </a>

             <a href="/history" class="navbar-item is-hidden-desktop is-hidden-widescreen is-active">
                History
            </a>
            <a href="/fair" class="navbar-item is-hidden-desktop is-hidden-widescreen">
                Provably Fair (WIP)
            </a>

        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="/history" class="navbar-item is-active">
                    History
                </a>
                <a href="/fair" class="navbar-item">
                    Provably Fair (WIP)
                </a>
            </div>

        </div>
    </div>
</nav>

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Past tickets and lotteries</h1>
        </div>
    </div>
</section>




</body>
</html>