<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NanoDice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item is-size-4 has-text-weight-bold">
                Nano Lottery
            </a>

            <a href="/fair" class="navbar-item is-hidden-desktop is-hidden-widescreen">
                Provably Fair
            </a>
             <a href="/stats" class="navbar-item is-hidden-desktop is-hidden-widescreen">
                Stats
            </a>

        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="/fair" class="navbar-item">
                    Provably Fair
                </a>

                <a href="/stats" class="navbar-item">
                    Stats
                </a>
            </div>

        </div>
    </div>
</nav>
</body>
</html>