<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nano Lottery</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">-->
    <link rel="stylesheet" href="/static/styles/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item is-size-4 has-text-weight-bold">
                Nano Lottery
            </a>

             <a href="/history" class="navbar-item is-hidden-desktop is-hidden-widescreen">
                History
            </a>
            <a href="/fair" class="navbar-item is-hidden-desktop is-hidden-widescreen">
                Provably Fair (WIP)
            </a>

        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="/lottery" class="navbar-item">
                    History
                </a>
                <a href="/fair" class="navbar-item">
                    Provably Fair (WIP)
                </a>
            </div>

        </div>
    </div>
</nav>
</body>


<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div align="center" class="container">
                <h1 class="title">Buy your ticket!</h1>
                <h6 class="subtitle is-6"><a href="https://www.nanode.co/account/{{ account }}">{{ account }}</a></h6>
                <div><img src="/static/{{ account }}.gif"></div>
                <div>Ticket price = 0.01 Nano</div>
            </div>
        </div>
    </div>
</section>


<section class="hero is-small isbold is-warning">
    <div class="hero-body">
        <div align="center" class="container">
            <h1 class="subtitle">Do not send from an exchange!</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Remaining time
                    </p>
                    <p class="title">
                        ~{{ time }} minutes
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Current endblock
                    </p>
                    <p class="title">
                        <a class="has-text-dark" href="https://www.blockchain.com/da/btc/blocks">{{ endblock }}</a>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Pot
                    </p>
                    <p class="title">
                        {{ pot }} Nano
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-light isbold">
    <div class="hero-body">
        <div id="form" class="container">
            <div class="columns">
                <div class="column">
                    <form action="/" method="get">
                        <input class="input" type="text" name="size" placeholder="(WIP) Size of table"><br>
                    </form>
                </div>
                <div class="column is-three-quarters"></div>
            </div>

        </div>
        <div align="center" class="container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th style="text-align: center;">Endblock</th>
                        <th style="text-align: center;">Date</th>
                        <th style="text-align: center;">Tickets</th>
                        <th style="text-align: center;">Address</th>
                    </tr>
                  </thead>
                <tbody>
                {% for row in table %}
                    <tr >
                        <td style="text-align: center;">{{row.endblock}}</td>
                        <td style="text-align: center;">{{row.date}}</td>
                        <td style="text-align: center;">{{row.ticket}}</td>
                        <td style="text-align: center;"><a href="{{ row.link }}">{{row.account}}</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="section">
</<footer class="footer">
  <div class="content has-text-centered">
      <p>
          <strong>Nano Lottery</strong> built for <a class="is-link" href="https://nano.org">Nano</a>
      </p>
  </div>
</footer>
</section>


</html>